﻿@using Pozzani.Tickets.Data

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tickets</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tickets", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
                    @if (AuthRepository.IsAuth(new[] {
                            Pozzani.Tickets.Models.User.AccessLevelList.IT,
                            Pozzani.Tickets.Models.User.AccessLevelList.Super
                        }))
                    {
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Features & Bugs", "FeatureList", "Home")</li>
                                @*<li>@Html.ActionLink("Sheets", "Sheets", "Home")</li>*@
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Admin <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Users", "Index", "Users")</li>
                                        <li>@Html.ActionLink("Ticket Types", "Index", "TicketTypes")</li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    }
            </div>
        </div>

    <div class="container-fluid body-content">
        <div class="main-content col-md-12">
            @if (TempData["error"] != null)
            {
                <p class="alert alert-danger">@TempData["error"]</p>
            }
            @if (TempData["success"] != null)
            {
                <p class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>@TempData["success"]</p>
            }

            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Pozzani Pure Water Plc</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- include summernote css/js-->
    <link href="~/Content/summernote.css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/summernote.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#summernote').summernote({
                height: 150
            });
        });
    </script>
</body>
</html>