﻿@model Pozzani.Tickets.Models.Ticket
@using Pozzani.Tickets.Models
@using Pozzani.Tickets.Data

@{
    ViewBag.Title = "Ticket Details";
    var assignedTo = (Model.AssignedTo == null ? "Nobody" : Model.AssignedTo.Name);
    UserRepository userRepository = new UserRepository();
    Note note = new Note();
    List<Note> notes = Model.Notes;
    notes.Reverse();

}

<div class="row">

    <div class="alert alert-danger text-center col-xs-12"><strong>@Html.DisplayNameFor(model => model.Priority) - @Html.DisplayFor(model => model.Priority)</strong></div>

    <div class="col-md-6">

        <div class="well">
            <h4><strong>Ticket ID #@Html.DisplayFor(model => model.Id)</strong></h4>
            <h4>@Html.Raw(Model.Description)</h4>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped table-responsive">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.SubmittedById)</th>
                        <td>@Html.DisplayFor(model => model.SubmittedBy.Name)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.AssignedToId)</th>
                        <td>@assignedTo</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.TicketTypeId)</th>
                        <td>@Html.DisplayFor(model => model.TicketType.Name)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.PriorityLevel)</th>
                        <td>@Html.DisplayFor(model => model.PriorityLevel)</td>
                    </tr>
               </table>
                @if (AuthRepository.GetUser().Id == Model.AssignedToId)
                {
                    @Html.ActionLink("Assign to me", "AssignToMe", "Tickets", new { Id = Model.Id }, new { @class = "btn btn-success btn-sm", disabled = "disabled" })
                }
                else
                {
                    @Html.ActionLink("Assign to me", "AssignToMe", "Tickets", new { Id = Model.Id }, new { @class = "btn btn-success btn-sm" })
                }

                @Html.ActionLink("Edit", "Edit", "Tickets", new { Id = Model.Id }, new { @class = "btn btn-warning btn-sm" })
                @Html.ActionLink("Delete", "Delete", "Tickets", new { Id = Model.Id }, new { @class = "btn btn-danger btn-sm" })
                @if (Model.Status == Ticket.StatusItems.Completed)
                {
                    @Html.ActionLink("Complete", "Complete", "Tickets", new { Id = Model.Id }, new { @class = "btn btn-info btn-sm", disabled = "disabled" })
                }
                else
                {
                    @Html.ActionLink("Complete", "Complete", "Tickets", new { Id = Model.Id }, new { @class = "btn btn-info btn-sm" })
                }
                
            </div>

            <div class="col-md-6">
                <table class="table table-bordered table-responsive table-striped">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.DateSubmitted)</th>
                        <td>@Html.DisplayFor(model => model.DateSubmitted)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.DateLastUpdated)</th>
                        <td>@Html.DisplayFor(model => model.DateLastUpdated)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.DateCompleted)</th>
                        <td>@Html.DisplayFor(model => model.DateCompleted)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Status)</th>
                        <td>@Html.DisplayFor(model => model.Status)</td>
                    </tr>
                </table>
            </div>
        </div>

        @Html.Partial("~/Views/Notes/Create.cshtml",new Note(), new ViewDataDictionary { { "ticketId", Model.Id } })    

    </div>

    <div class="col-md-6">
    @foreach(var item in notes)
        {
            <div class="alert @(item.SubmittedByID == Model.SubmittedBy.Id ? "alert-info" : "alert-warning")">
                <div class="row">
                    <div class="col-xs-12">
                        @Html.Raw(item.Description)
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-12">
                        <div class="label label-primary pull-right">@item.DateSubmitted</div>
                        <div class="label label-success">@userRepository.GetUserById(item.SubmittedByID).Name</div>
                        <div class="label label-default">Time: @item.Minutes</div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
