﻿@model IEnumerable<Pozzani.Tickets.Models.Ticket>

@{
    ViewBag.Title = "Tickets";
}

@Html.ActionLink("Add Ticket", "Create", "Tickets", new { @class = "pull-right btn btn-primary" })
<h2>@ViewBag.Title</h2>

@ViewBag.ErrorMessage

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssignedToId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedById)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateLastUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCompleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedTo.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmittedBy.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSubmitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateLastUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCompleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
