﻿@using Pozzani.Tickets.Data

@model IEnumerable<Pozzani.Tickets.Models.Ticket>
@{
    ViewBag.Title = "My Tickets";

    var myTickets = Model.Where(t => t.AssignedToId == AuthRepository.GetUser().Id || t.SubmittedById == AuthRepository.GetUser().Id).ToList().OrderBy(x => x.PriorityLevel).OrderByDescending(x => x.Priority);
    var unassignedTickets = Model.Where(t => t.AssignedToId == null).ToList().OrderBy(x => x.PriorityLevel).OrderByDescending(x => x.Priority);
}

@Html.ActionLink("Add Ticket","Create", "Tickets", null, new { @class = "pull-right btn btn-primary" })
@if (unassignedTickets.Count() > 0)
{
    <h2>Unassigned Tickets</h2> 
    <table class="table table-striped">
        <tr>
            <th class="col-xs-1 text-center">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="col-xs-1 text-center">
                @Html.DisplayNameFor(model => model.AssignedToId)
            </th>
            <th class="col-xs-1 text-center">
                @Html.DisplayNameFor(model => model.SubmittedById)
            </th>
            <th class="col-xs-1 text-center">
                @Html.DisplayNameFor(model => model.TicketTypeId)
            </th>
            <th class="col-xs-6">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="col-xs-1 text-center">
                @Html.DisplayNameFor(model => model.DateLastUpdated)
            </th>
            <th class="col-xs-1 text-center">
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>

        @foreach (var item in unassignedTickets)
        {
            <tr class="pointer" onclick="location.href = '@(Url.Action("Details", "Tickets", new { Id = item.Id }))'">
                <td class="text-center">
                    #@Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="text-center">
                    @(item.AssignedTo == null ? Html.Raw("-") : Html.DisplayFor(modelItem => item.AssignedTo.Name))
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.SubmittedBy.Name)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
                <td>
                    @(Html.Raw(item.Description).ToString().Length > 140 ? Html.Raw(item.Description).ToString().Substring(0, 140).Replace("<p>", "").Replace("</p>", " / ") + "..." : Html.Raw(item.Description).ToString().Replace("<p>", "").Replace("</p>", "/"))
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DateLastUpdated)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }

    </table>

}

<h2>@ViewBag.Title</h2> 

@ViewBag.ErrorMessage

<table class="table table-striped">
    <tr>
        <th class="col-xs-1 text-center">
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th class="col-xs-1 text-center">
            @Html.DisplayNameFor(model => model.AssignedToId)
        </th>
        <th class="col-xs-1 text-center">
            @Html.DisplayNameFor(model => model.SubmittedById)
        </th>
        <th class="col-xs-1 text-center">
            @Html.DisplayNameFor(model => model.TicketTypeId)
        </th>
        <th class="col-xs-6">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="col-xs-1 text-center">
            @Html.DisplayNameFor(model => model.DateLastUpdated)
        </th>
        <th class="col-xs-1 text-center">
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

    @foreach (var item in myTickets)
    {
        <tr class="pointer" onclick="location.href = '@(Url.Action("Details","Tickets", new { Id = item.Id }))'">
            <td class="text-center">
                #@Html.DisplayFor(modelItem => item.Id)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.AssignedTo.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.SubmittedBy.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.TicketType.Name)
            </td>
            <td>
                @(Html.Raw(item.Description).ToString().Length > 140 ? Html.Raw(item.Description).ToString().Substring(0, 140).Replace("<p>", "").Replace("</p>", " / ") + "..." : Html.Raw(item.Description).ToString().Replace("<p>", "").Replace("</p>", "/"))
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DateLastUpdated)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
    }

</table>

@if (AuthRepository.IsAuth(new[] {
    Pozzani.Tickets.Models.User.AccessLevelList.IT,
    Pozzani.Tickets.Models.User.AccessLevelList.Super
}))
{
    <h2>All Active Tickets</h2>

    <table class="table table-striped">
        <tr>
            <th class="col-xs-1 text-center">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="col-xs-1 text-center">
                @Html.DisplayNameFor(model => model.AssignedToId)
            </th>
            <th class="col-xs-1 text-center">
                @Html.DisplayNameFor(model => model.SubmittedById)
            </th>
            <th class="col-xs-1 text-center">
                @Html.DisplayNameFor(model => model.TicketTypeId)
            </th>
            <th class="col-xs-6">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="col-xs-1 text-center">
                @Html.DisplayNameFor(model => model.DateLastUpdated)
            </th>
            <th class="col-xs-1 text-center">
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="pointer" onclick="location.href = '@(Url.Action("Details", "Tickets", new { Id = item.Id }))'">
                <td class="text-center">
                    # @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="text-center">
                    @(item.AssignedTo == null ? Html.Raw("-") : Html.DisplayFor(modelItem => item.AssignedTo.Name))
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.SubmittedBy.Name)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
                <td>
                    @Html.Raw(item.ShortDescription.Replace("<p>", "").Replace("</p>", " "))
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DateLastUpdated)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }

    </table>
}