﻿@model Pozzani.Tickets.Models.Note

@using (Html.BeginForm("Create","Notes")) 
{
    @Html.AntiForgeryToken()
    
        <h4>Add Note</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-labe" })
            @Html.TextAreaFor(model => model.Description, 5, 10, new { @class = "form-control", id = "summernote" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Minutes, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Minutes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Minutes, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="pull-right">
                <input type="submit" value="Add Note" class="btn btn-primary" />
                @Html.Hidden("TicketId",ViewData["ticketId"])
            </div>
        </div>
}
